* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #F4EFE0;
}

a {
    text-decoration: none;
}

*::selection {
    background-color: rgb(158, 215, 208, 0.85);
 }

/* Mobile version */
@media only screen and (max-width: 480px) {
    
body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
}

header {
    background-image: url(../public/headerDetails/headerDetailMobile.svg);
    width: 80%;
    height: 35vh;
    margin-left: auto;
    background-repeat: no-repeat;
}

.headerContent {
    width: 80%;
    height: 50%;
    padding-top: clamp(15px, 8%, 10%);
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.texts {
    display: none;
}


.titleMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 2vw, 1.8rem);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #FFFFFF;
}

.choose {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: clamp(1.75rem, 3vw, 2.1rem);
    font-style: regular;
    margin: 0 auto;
}

.carousel {
    margin-top: 25px;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}


.foodSlider {
    display: none;
}


.foodCard {
    background-color: #E58D82;
    height: 55vw;
    padding: 1vw 0.8vw;
    margin: 0 2.5vw; 
    border-radius: 1.5vw;
    max-height: 80%;
    min-width: 45vw;
    min-height: 200px;
    box-shadow: -4px 6px 6px rgba(0, 0, 0, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.25);
    transition: 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.foodCard > span {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: larger;
}


.foodCard > img {
    margin-top: auto;
    margin-bottom: auto;
    max-width:80%;
}

.foodCard:nth-child(3) > img, .foodCard:nth-child(4) > img{
    transform: scale(1.25)
}

.foodCard:hover {
    transform: scale(1.1); 
    /*transform: translateX(-52.5vw);*/
}


header p span{
    font-size: 30px;
}
}

@media only screen and (max-width: 459px) {

.choose{
    margin-top: -13px;
}

    header {
        height: 40vh;
    }

}


/* Tablet version */
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    
    body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: hidden;
    }
    

    header {
        width: 100%;
        height: 45vh;
    }


    .texts{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }


    .headerContent{
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
    }


    .headerDetail {
        width: 70%;
        height: 45vh;
        margin-left: auto;
        background-image: url(../public/headerDetails/headerDetailTablet.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin-left: auto;
        align-items: center;
    }


    .titleMobile {
        display: none;
    }
    
    
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: clamp(1.6rem, 2vw, 1.8rem);
        font-family: 'Nunito', sans-serif;
        color: #000000;    
    }
    
    .titleName {
        font-size: clamp(32px, 10vw, 70%);
    }

    .recipeName {
       font-family: 'Nunito', sans-serif;
        color: #E26F64;
        font-weight: 900;
        font-size: clamp(33px, 10vw, 70%);
        margin-right: auto;
    }


    .titleDetail {
        width: 70%;
        height: 7px;
        border-radius: 50px;
        background-color: #E26F64;
        margin-bottom: 20px;
        margin-right: auto;
    }

    .choose {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: clamp(1.75rem, 3vw, 2.1rem);
        font-style: regular;
        margin: 0 auto;
    }
    

    .carousel {
        margin-top: 25px;
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    

    .foodSlider {
        width: 70%;
        display: flex;
        justify-content: center;
        margin-left: auto;
    }


    img {
        width: 90%;
    }

    
    .foodCard {
        background-color: #E58D82;
    
        width: 10vw;
        height: 15vw;
        padding: 0.8vw;
        border-radius: 1vw;
        max-height: 80%;
        min-width: 120px;
        min-height: 180px;
        
        box-shadow: -4px 6px 6px rgba(0, 0, 0, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.25);
    
        transition: 300ms;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .foodCard > span {
        color: #FFFFFF;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: larger;
    }
    
    
    .foodCard > img {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    
    .foodCard:nth-child(3) > img, .foodCard:nth-child(4) > img {
        transform: scale(1.35);
    }
    
    
    .foodCard:hover {
        transform: scale(1.15)
    }


     p span{
        font-size: 30px;
    }
}


/*Desktop/laptop version */

@media only screen and (min-width: 769px) {
 
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        overflow: hidden;
}


header {
    width: 100%;
    height: 45vh;
}


.texts{
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.titleName {
    
    font-size: clamp(80%, 65px, 40vw);
    
}

.headerContent{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}


.headerDetail {
    width: 40vw;
    height: 30vw;
    min-height: 100%;
    min-width: 450px;
    margin-left: auto;
    background-image: url(../public/headerDetails/headerDetailDesktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-left: auto;
    align-items: center;
}


.titleMobile {
    display: none;
}


.title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: #000000;    
}


.recipeName {
   font-family: 'Nunito', sans-serif;
    color: #E26F64;
    font-weight: 900;
    font-size: clamp(80%, 65px, 40vw);
    margin-right: auto;
}


.titleDetail {
    width: 40%;
    height: 7px;
    border-radius: 50px;
    background-color: #E26F64;
    margin-bottom: 20px;
    margin-right: auto;
}

.choose {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: clamp(1.75rem, 3vw, 2.1rem);
    font-style: regular;
    margin: 0 auto;
}


.carousel {
    margin-bottom: 10px;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.foodSlider {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: auto;
}


img {
    width: 80%;
}


.foodCard {
    background-color: #E58D82;

    width: 10vw;
    height: 15vw;
    padding: 0.8vw;
    border-radius: 1vw;
    max-height: 80%;
    min-width: 120px;
    min-height: 180px;
    
    box-shadow: -4px 6px 6px rgba(0, 0, 0, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.25);

    transition: 300ms;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.foodCard > span {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: larger;
}


.foodCard > img {
    margin-top: auto;
    margin-bottom: auto;
}


.foodCard:nth-child(3) > img, .foodCard:nth-child(4) > img {
    transform: scale(1.35);
}


.foodCard:hover {
    transform: scale(1.15)
}


.foodSlider > img {
    animation: moveToLeft 5s linear infinite;
}



}