<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolinho Caipira</title>
    <link rel="stylesheet" href="../styles/view.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div class="mainBox">

    <div class="headerBox">

        
            <img src="../public/fooodImages/slider/bolinho_caipira.png" alt="">

            
        <h1>Bolinho Caipira</h1>

</div>


    <div class="descriptionBox">
       <p>The bolinho caipira is a fried savory and originally stuffed with meat, pepperoni, sausage or even chicken,
            typical of country cuisine in Brazil, originally from the Paraíba Valley, in the interior of São Paulo</p>

         </div>

</div>


<div class="mobileTablet">
    <div class="viewInformations">

        <button class="viewButton">Ingredients</button>

        <button class="viewButton">Preparation</button>

</div>

<div class="listInformations">

    <ul>

        <li>500 g of white or yellow cornmeal</li>
        <li>3 chopped garlic cloves</li>
        <li>1/2 chopped onion</li>
        <li>2 cubes of beef broth</li>
        <li>1 tablespoon of salt</li>
        <li>1 cup of parsley and chopped chives</li>
        <li>1 tablespoon of vegetable oil to cook</li>
        <li>1 and 1/2 liter of drinking water</li>
        <li>500 g of sausage stuffing of your choice</li>
        <li>enough oil to fry</li>

    </ul>

    
    <ol>

        <li>Reserve the flour in a large bowl.</li>
        <li>Saute the garlic and onion in oil until golden.</li>
        <li>Put the water, the bouillon cubes and the salt in the stew and let it boil until it boils.</li>
        <li>Gradually pour the boiling water into the flour until it forms a dough that is easy to handle.</li>
        <li>Place the parsley and chives in the dough.</li>
        <li>Make cakes and fill with sausage meat.</li>
        <li>Fry in hot oil.</li>

    </ol>
</div>

</div>
</div>



<div class="desktop">    
<div class="listInformations">

<div class="ingredients">

    <span>Ingredients</span>

    <ul>

        <li>500 g of white or yellow cornmeal</li>
        <li>3 chopped garlic cloves</li>
        <li>1/2 chopped onion</li>
        <li>2 cubes of beef broth</li>
        <li>1 tablespoon of salt</li>
        <li>1 cup of parsley and chopped chives</li>
        <li>1 tablespoon of vegetable oil to cook</li>
        <li>1 and 1/2 liter of drinking water</li>
        <li>500 g of sausage stuffing of your choice</li>
        <li>enough oil to fry</li>
    </ul>

</div>

<div class="preparation">

    <span>Preparation</span>

    <ol>

        <li>Reserve the flour in a large bowl.</li>
        <li>Saute the garlic and onion in oil until golden.</li>
        <li>Put the water, the bouillon cubes and the salt in the stew and let it boil until it boils.</li>
        <li>Gradually pour the boiling water into the flour until it forms a dough that is easy to handle.</li>
        <li>Place the parsley and chives in the dough.</li>
        <li>Make cakes and fill with sausage meat.</li>
        <li>Fry in hot oil.</li>

    </ol>
</div>
</div>
</div>

<script src="../app.js"></script>

</body>
</html>
