<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brigadeiro</title>
    <link rel="stylesheet" href="../styles/view.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div class="mainBox">

    <div class="headerBox">

        
        <img src="../public/fooodImages/slider/brigadeiro.png" alt="">
            
        <h1>Brigadeiro</h1>

</div>


    <div class="descriptionBox">
       <p> Brigadeiro is a typical sweet of Brazilian cuisine, originating in Rio de Janeiro, which quickly spread throughout Brazil,
            becoming common throughout the country its presence at birthday parties, along with sweets such as cajuzinho and beijinho.</p>

         </div>

</div>


<div class="mobileTablet">
    <div class="viewInformations">

        <button class="viewButton">Ingredients</button>

        <button class="viewButton">Preparation</button>

</div>

<div class="listInformations">

    <ul>

        <li>1 box of condensed milk</li>
        <li>1 tablespoon of unsalted margarine</li>
        <li>7 tablespoons of chocolate milk or 4 tablespoons of powdered chocolate</li>
        <li>chocolate sprinkles</li>

    </ul>

    
    <ol>

        <li>In a deep saucepan, add the condensed milk, margarine and powdered chocolate.</li>
        <li>Cook over medium heat and stir until the brigadeiro starts to come unstuck from the pan.</li>
        <li>Allow to cool and make small balls by hand passing the dough into the granulated chocolate.</li>
        
    </ol>
</div>

</div>
</div>



<div class="desktop">    
<div class="listInformations">

<div class="ingredients">

    <span>Ingredients</span>

    <ul style="justify-content:flex-start; gap: 40px;">

        <li>1 box of condensed milk</li>
        <li>1 tablespoon of unsalted margarine</li>
        <li>7 tablespoons of chocolate milk or 4 tablespoons of powdered chocolate</li>
        <li>chocolate sprinkles</li>

    </ul>

</div>

<div class="preparation">

    <span>Preparation</span>

    <ol>

        <li>In a deep saucepan, add the condensed milk, margarine and powdered chocolate.</li>
        <li>Cook over medium heat and stir until the brigadeiro starts to come unstuck from the pan.</li>
        <li>Allow to cool and make small balls by hand passing the dough into the granulated chocolate.</li>

    </ol>
</div>
</div>
</div>

<script src="../app.js"></script>

</body>
</html>