<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feijoada</title>
    <link rel="stylesheet" href="../styles/view.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div class="mainBox">

    <div class="headerBox">
            <div class="backButton"> </div>

        <img src="../public/fooodImages/slider/feijoada.png" alt="">
            
        <h1>Feijoada</h1>
</div>

    <div class="descriptionBox">
       <p> A feijoada é um prato típico do Rio de Janeiro e é muito consumido em todo Brasil. Apesar de ser um prato com muitas variações, a típica feijoada completa é aquela que leva todas as carnes salgadas (costela, linguiças variadas, carne seca, pé,
         orelha, rabo, lombo, bacon) e é servira com rodelas de laranja, couve refogada no alho, arroz e farofa. </p>

         </div>
</div>



    <div class="viewInformations">

        <span>Ingredients</span>
        
        <span>Preparation</span>

</div>

<div class="listInformations">

    <ul>

        <li>1 Kg de feijão preto</li>
        <li>100 g de carne seca</li>
        <li>70 g de orelha de porco</li>
        <li>70 g de rabo de porco</li>
        <li>70 g de pé de porco</li>
        <li>100 g de costelinha de porco</li>
        <li>50 g de lombo de porco</li>
        <li>100 g de paio</li>
        <li>150 g de lingüiça portuguesa</li>
        <li>Tempero:</li>
        <li>2 cebolas grandes picadinhas</li>
        <li>1 maço de cebolinha verde picadinha</li>
        <li>3 folhas de louro</li>
        <li>6 dentes de alho</li>
        <li>Pimenta do reino a gosto</li>
        <li>1 ou 2 laranjas</li>
        <li>40 ml de de pinga</li>
        <li>Sal se precisar</li>

    </ul>

    
    <ol>
        <li>Coloque as carnes de molho por 36 horas ou mais, vá trocando a água várias vezes, se for ambiente quente ou verão, coloque gelo por cima ou em camadas frias.</li>
        <li>Coloque para cozinhar passo a passo: as carnes duras, em seguida as carnes moles.</li>
        <li>Quando estiver mole coloque o feijão, e retire as carnes.</li>
        <li>Finalmente tempere o feijão.</li>
    </ol>


</div>


</body>
</html>