<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feijoada</title>
    <link rel="stylesheet" href="../styles/view.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div class="mainBox">

    <div class="headerBox">

        
        <img src="../public/fooodImages/slider/feijoada.png" alt="">
            
        <h1>Feijoada</h1>

</div>


    <div class="descriptionBox">
       <p> Feijoada is a typical dish of Rio de Janeiro and is widely consumed throughout Brazil. Despite being a dish with many variations, the typical complete feijoada is one that takes all the salted meats (rib, assorted sausages, jerked meat, foot,
        ear, tail, loin, bacon) and it is served with orange slices, cabbage braised in garlic, rice and farofa.</p>

         </div>

</div>


<div class="mobileTablet">
    <div class="viewInformations">

        <button class="viewButton">Ingredients</button>

        <button class="viewButton">Preparation</button>

</div>

<div class="listInformations">

    <ul>

    <li>1 kg of black beans</li>
    <li>100 g of dried meat</li>
    <li>70 g of pig's ear</li>
    <li>70 g of pigtail</li>
    <li>70 g of pig's foot</li>
    <li>100 g of pork ribs</li>
    <li>50 g of pork loin</li>
    <li>100 g of paio</li>
    <li>150 g of Portuguese sausage</li>
    <li>2 large chopped onions</li>
    <li>1 bunch of chopped green onions</li>
    <li>3 bay leaves</li>
    <li>6 cloves of garlic</li>
    <li>Black pepper to taste</li>
    <li>1 or 2 oranges</li>
    <li>40 ml of drip</li>
    <li>salt</li>

    </ul>

    
    <ol>
        <li>Soak the meat for 36 hours or more, change the water several times, if it's hot or summer, put ice on top or in cold layers.</li>
        <li>Put to cook step by step: hard meats, then soft meats.</li>
        <li>When it's soft, add the beans, and remove the meat.</li>
        <li>Finally season the beans.</li>
    </ol>
</div>

</div>
</div>



<div class="desktop">    
<div class="listInformations">

<div class="ingredients">

    <span>Ingredients</span>

    <ul>

    <li>1 kg of black beans</li>
    <li>100 g of dried meat</li>
    <li>70 g of pig's ear</li>
    <li>70 g of pigtail</li>
    <li>70 g of pig's foot</li>
    <li>100 g of pork ribs</li>
    <li>50 g of pork loin</li>
    <li>100 g of paio</li>
    <li>150 g of Portuguese sausage</li>
    <li>2 large chopped onions</li>
    <li>1 bunch of chopped green onions</li>
    <li>3 bay leaves</li>
    <li>6 cloves of garlic</li>
    <li>Black pepper to taste</li>
    <li>1 or 2 oranges</li>
    <li>40 ml of drip</li>
    <li>salt</li>

    </ul>

</div>

<div class="preparation">

    <span>Preparation</span>

    <ol>
        <li>Soak the meat for 36 hours or more, change the water several times, if it's hot or summer, put ice on top or in cold layers.</li>
        <li>Put to cook step by step: hard meats, then soft meats.</li>
        <li>When it's soft, add the beans, and remove the meat.</li>
        <li>Finally season the beans.</li>
    </ol>
</div>
</div>
</div>

<script src="./app.js"></script>

</body>
</html>