<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pão de queijo</title>
    <link rel="stylesheet" href="../styles/view.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div class="mainBox">

    <div class="headerBox">

        
            <img src="../public/fooodImages/slider/pao_de_queijo.png" alt="">

            
        <h1>Pão de queijo</h1>

</div>


    <div class="descriptionBox">
       <p> Minas cheese bread is a typical Brazilian recipe, widely consumed throughout the country and loved by all Brazilians. 
           Its origin is uncertain, but it is speculated that it emerged around 1860 and only became popular in the 1950s.,
            It is a delight that is part of the gastronomic history of Brazil! </p>

         </div>

</div>


<div class="mobileTablet">
    <div class="viewInformations">

        <button class="viewButton">Ingredients</button>

        <button class="viewButton">Preparation</button>

</div>

<div class="listInformations">

    <ul>

        <li>800g of sour powder</li>
        <li>1 cup of water</li>
        <li>1 cup of milk</li>
        <li>1/2 cup of oil</li>
        <li>2 eggs</li>
        <li>100 g of grated parmesan cheese</li>
        <li>salt to taste</li>

    </ul>

    
    <ol>

        <li>In a saucepan, boil water and add milk, oil and salt.</li>

        <li>Add the powder gradually until it turns on. You may not need to use the 800g, 
            so put it slowly and knead the dough until it's free from your hand: that's the point.</li>
        <li>When the dough is warm, add the Parmesan cheese, eggs and mix well.</li>

        <li>Grease your hands and roll up balls of 2 cm in diameter.</li>
        <li>Arrange the balls on an oiled baking sheet, leaving a space between them.</li>
        <li>Bake in a preheated medium (180º C) oven for about 40 minutes.</li>

    </ol>
</div>

</div>
</div>



<div class="desktop">    
<div class="listInformations">

<div class="ingredients">

    <span>Ingredients</span>

    <ul>

        <li>800g of sour powder</li>
        <li>1 cup of water</li>
        <li>1 cup of milk</li>
        <li>1/2 cup of oil</li>
        <li>2 eggs</li>
        <li>100 g of grated parmesan cheese</li>
        <li>salt to taste</li>

    </ul>

</div>

<div class="preparation">

    <span>Preparation</span>

    <ol>

        <li>In a saucepan, boil water and add milk, oil and salt.</li>

        <li>Add the powder gradually until it turns on. You may not need to use the 800g, 
            so put it slowly and knead the dough until it's free from your hand: that's the point.</li>
        <li>When the dough is warm, add the Parmesan cheese, eggs and mix well.</li>
        
        <li>Grease your hands and roll up balls of 2 cm in diameter.</li>
        <li>Arrange the balls on an oiled baking sheet, leaving a space between them.</li>
        <li>Bake in a preheated medium (180º C) oven for about 40 minutes.</li>

    </ol>
</div>
</div>
</div>

<script src="./app.js"></script>

</body>
</html>